:root {
    --bs-primary: #005555;
    --bs-secondary: #00204a;
    --bs-success: #04BF55;
    --bs-info: #05A3FF;
    --bs-warning: #FFC94F;
    --bs-danger: #F44538;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-blue: #05A3FF;
    --bs-indigo: #6610f2;
    --bs-purple: #876FF5;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #0555550d;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary-rgb: 0, 85, 85;
    --bs-secondary-rgb: 0, 32, 74;
    --bs-success-rgb: 4, 191, 85;
    --bs-info-rgb: 5, 163, 255;
    --bs-warning-rgb: 255, 201, 79;
    --bs-danger-rgb: 244, 69, 56;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Work Sans", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #00000067;
}

    #preloader:before {
        content: "";
        position: fixed;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        border: 12px solid;
        border-left-color: #00000003;
        border-top-color: 04BF55;
        border-right-color: 04BF55;
        border-bottom-color: 04BF55;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: animate-preloader 1s linear infinite;
    }

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
